.login {
    padding: 30px 30px 70px 30px;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.282);
}

.btnLogin {
    margin-top: 20px;
    float: right;
}

a.active, 
a:hover,  
a {
  text-decoration: none;
  color: #666;
}


.swiper {
    max-width:1400px;
    height: 500px;
  }

.swiper img {
    max-width: 500px;
}

  .swiper-slide {
    
    display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
}

.price {
    color: red;
    font-size: 20px;
    padding-top: 10px;
}

.product {
  
  align-items: center;
  
  border: 1px solid rgba(0, 0, 0, 0.278);
  padding: 30px;
  margin-bottom: 100px;
}

.product-img {
  max-width: 300px;
}

.product-info {
  margin-left: 50px;
}

.product-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #666;
}

.product-price {
  color: red;
}

.product-color-bg {
  display: inline-block;
  width: 50px;
  height: 20px;
  border: 1px solid #666;
  border-radius: 10px;
}

.cart-img {
  max-width: 150px;
}

.cart-item {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(163, 162, 162);
  box-shadow: 0 0 8px 0 #444;
  padding: 10px;
}

.title-card-wrapper {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.title-text {
  font-weight: 600;
}

.price-text {
  font-weight: 800;
}

.price-wrap {
  margin-right: 60px;
}

.input-count {
  width: 20px;
  text-align: center;
  margin: 5px;
}

.countbtn {
  padding: 0px 5px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 8px 0 #444;
  border-radius: 5px;
}

.deletebtn {
  padding: 5px;
  border: 1px solid rgb(159, 157, 157);
  box-shadow: 0 0 8px 0 #444;
  border-radius: 10px;
}

.result {
  top: 60px;
  position: sticky;
}

.cart-length {
  z-index: 100;
  margin-left: -20px;
  margin-top: -15px;
  padding: 5px 10px;
  background-color: rgba(207, 0, 0, 0.42);
  border-radius: 50px;
}

.navpos {
  position: fixed;
}

.buybtn {
  margin: 100px 0px 50px 0px;
}

.cart-length-pop {
  position: absolute;
  margin: -45px 0px 0px 120px;

}

.success-wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.suc-text {
  color: green;
  font-size: 50px;
  font-weight: bold;
}